<footer>
	<div class="row">
		<div class="span2 copyright">
			&copy; <a href="http://gonzai.org/">Gonzai</a> × <a href="http://yogalife.by/">Yoga+Life</a> 2011
		</div>
		<div class="span4 offset6 share">
			<span class='st_twitter_hcount' displayText='Tweet'></span><span
			class='st_fblike_hcount'></span><span class='st_plusone_hcount'></span>
		</div>
	</div>
</footer>
