<div class="row fixed">
	<div class="container header">
		<div class="row">
			<div class="span2 link deadline">
				<span>✝</span> {{deadline}} <span>✝</span>
			</div>
			<div class="span4 offset2 logo">
				Making Yoga×Life
				<small>№</small>
				15
			</div>
			<div class="span1 offset2 link" style="margin-right: 0;">
				<a href="#">About</a>
			</div>
			<div class="span1 link rss" style="margin-left: 0;">
				<a href="#">RSS</a>
			</div>
		</div>
	</div>
</div>
